@use "../particals/variables" as *;
// @import url("partials/variables");

.destination-itinerary {
  background-image: url("/assets/Images/hawaii.jpg");
  background-position: center;
  background-size: cover;

  &--greece {
    background-image: url("/assets/Images/greece.jpg");
  }
  &--iceland {
    background-image: url("/assets/Images/greece.jpg");
  }
}

h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.destination-itinerary {
  width: 100vw;
  max-width: 100%;
  padding: 2rem 0rem 5rem 0rem;
  display: flex;
  flex-direction: column;
}

.container {
  &__card {
    &--itinerary {
      padding: 1rem 6rem;
      align-items: stretch;
      text-align: center;
    }
  }
}

.itinerary__item {
  padding: 1rem 0rem;
  background-color: $beige;
  margin: 1rem;
}

.itinerary__title {
  color: black;
  font-size: $card-heading;
  font-weight: bold;
  border-bottom: 2px black solid;
  margin: 1rem;
}

.card {
  &--itinerary {
    background-color: white;
    height: fit-content;
    text-align: center;
    padding: 1rem 0.5rem 3rem 0.5rem;
  }
}
