@use "../particals/variables" as *;

// global fonts & colors
* {
  font-family: Verdana, sans-serif;
  color: $primary-blue;
  margin: 0rem;
  padding: 0rem;
}

h1 {
  font-size: $heading1;
  font-weight: 600;
}

h2 {
  font-size: $heading2;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 100;
  font-style: normal;
}
body {
  width: 1280px;
}

// global setting of the flex box container
.container {
  padding: 1rem 5rem; // left & right spacing is 5rem
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    position: sticky;
    align-items: baseline;
    background-color: $white;
  }
  &__hero {
    gap: 3rem;
  }
  &__footer {
    justify-content: space-evenly;
    padding: 3rem 0rem;
  }
  &__card {
    margin: 2rem 10rem; // define the size of the flex box relative to it's container size
    padding: 0;
  }
}

// nav
.link {
  display: flex;
  justify-content: space-around;
}
.link a {
  margin-left: 2rem;
  text-decoration: none;
  padding-bottom: 0.5rem;
}
.emphasis {
  border-bottom: 2px solid $dark-orange;
}

// main body
section {
  background-color: #fefaf5;
  padding: 3rem 0rem;
}

.card {
  position: relative;
  width: 30%;
  height: 56vh;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.2);

  &--Hawaii {
    background-image: url("../assets/Images/hawaii.jpg");
    background-size: cover;
  }
  &--Iceland {
    background-image: url("../assets/Images/iceland.jpg");
    background-size: cover;
  }
  &--Greece {
    background-image: url("../assets/Images/greece.jpg");
    background-size: cover;
  }
  &__text {
    position: absolute;
    text-align: right;
    bottom: 1rem;
    right: 1rem;
    color: $white;
  }
}

// footer
footer h2 {
  margin-bottom: 2rem;
}
footer {
  background-color: $beige;
}

.column__hours {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.social-icons img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin-right: 2rem;
}
.highlight-text {
  color: $dark-orange;
}
