@import "colors";

// global fonts & colors
* {
  font-family: Verdana, sans-serif;
  color: $primary-blue;
  margin: 0rem;
  padding: 0rem;
}

h1 {
  font-size: $heading1;
  font-weight: 600;
}

h2 {
  font-size: $heading2;
}
h3 {
  font-size: $heading3;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 100;
  font-style: normal;
}

// flex box
.container {
  padding: 1rem 5rem; // left & right spacing
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// nav
.container__nav {
  position: sticky;
  background-color: $white;
}
.link {
  display: flex;
  justify-content: space-around;
}
.link a {
  margin-left: 2rem;
  text-decoration: none;
  padding-bottom: 0.5rem;
}
.emphasis {
  border-bottom: 2px solid $dark-orange;
}

// main body
section {
  background-color: #fefaf5;
  padding: 3rem 0rem;
}

.container__card {
  margin: 2rem 10rem;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 30%;
  border-radius: 5px;
}

// footer
footer h2 {
  margin-bottom: 2rem;
}
footer {
  background-color: $beige;
  // position: absolute;
  // bottom: 0;
  // left: 0;
}
.container__footer {
  justify-content: space-evenly;
  padding: 3rem 0rem;
}

.column__hours {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.social-icons img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin-right: 2rem;
}
.highlight-text {
  color: $dark-orange;
}
