@use "../particals/variables" as *;
// @import url("partials/variables");

.container__hero {
  gap: 3rem;
}

.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 4rem 0rem;
  gap: 2rem;
}

.hero-img {
  width: 80%;
  padding: 0rem 0rem 0rem 8rem;
}

button {
  font-size: 16px;
  background-color: $dark-orange;
  color: $beige;
  border-radius: 3rem;
  padding: 12px 3rem;
  border-width: 0rem;
}
// recommendations

.recommendation {
  background-color: $white;
}

.card {
  width: 30%;
  padding-bottom: 50%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.2);
  position: relative;

  &--Hawaii {
    background-image: url("../assets/Images/hawaii.jpg");
    background-size: cover;
  }
  &--Iceland {
    background-image: url("../assets/Images/iceland.jpg");
    background-size: cover;
  }
  &--Greece {
    background-image: url("../assets/Images/greece.jpg");
    background-size: cover;
  }
  &__text {
    position: absolute;
    text-align: right;
    bottom: 1rem;
    right: 1rem;
    color: $white;
  }
}
